@@new
= haml :errors, :layout => false
%form(action="/stations" method="POST")
  %fieldset
    %legend Create a new station
    = haml :form, :layout => false
  %input(type="submit" value="Create") or <a href='/stations'>cancel</a>
  
  
  
@@edit
= haml :errors, :layout => false
%form(action="/stations/#{@station.id}" method="POST")
  %input(type="hidden" name="_method" value="PUT")
  %fieldset
    %legend Update this station
    = haml :form, :layout => false
  %input(type="submit" value="Update") or <a href='/stations'>cancel</a>